.tabs {    
    list-style: none;
    padding: 10px;
    display:inline-block;
    background-color: #000;  
    color: #FFF;
    border: 1px solid black;
	border-radius: 5px;
}
.tabs:hover{
	background-color: #4a4a4a; 
	color: cyan;
}
