<html>
<head>
    <title>Parsel</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet"></link>
  </head>
  <body style="padding-top:40px">
     <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.blackmarketsnakes.com">Black Market Snakes</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://www.blackmarketsnakes.com">Home</a></li>
            <li class="active"><a href="#">Parsel</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
  	<div class="jumbotron">
  		<div class="container">
  		<h1>Parsel</h1>
      <p>Parsel is a service to test your arbitrary combination of NLTK preprocessing and chunking techniques on a sample string. It'll PARSE your input, plus it speaks to snakes (Python/<a href="http://www.blackmarketsnakes.com" target="_blank">Black Market Snakes</a>).</p>
      {% block head %} {% endblock %}
  		</div>
  	</div>
  	<div class="container">	
    <hr>
    {% block content %}{% endblock %}
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"> $(document).ready(function () { $('.dropdown-toggle').dropdown(); }); </script>
  </body>
</html>