{% extends "base.html" %}
{% block head %}
      <p>Parsel might let you get a sneak peek at your preprocessing techniques before you implement them, for a sanity check. To that end, check back soon for moar NLTK.</p>
      <p>The big idea for me, its creator, is to get up to speed with <a href="http://flask.pocoo.org/" target="_blank">Flask</a>, <a href="http://jinja.pocoo.org/" target="_blank">Jinja2</a>, and getting things on the web.</p>
      <p><span class="label label-warning">Warning</span> Parsel is brand new, so play nicely until some checks are implemented. You know better than chunking without tokenizing, but Parsel does not!</p>
{% endblock %}
{% block content %}
	<div id="get_text">
    	<h1>Enter some text</h1>
    	<form action="." method="POST">
    		<textarea name="text" class="form-control" rows="4"></textarea>
    	<button type="submit" name="my-form" class="btn btn-lg btn-default">Submit</button> 
    </div>		
		<div class="row">
		<div class="col-sm-6 thumbnail" style="padding-bottom:15px" id="tokenizers">
		<h1 style="text-align:center">Tokenizers</h1>
		<div class="col-sm-6">
			<h2>Sentence Tokenizer</h2>
			<p>In NLTK, you really should tokenize into sentences before anything else... but who am I to tell you what to do?</p>
			<div class="btn-group-vertical" data-toggle="buttons">
				<label class="btn btn-primary">
				    <input type="radio" name="sent_tokenizer" value="punkt_sent"> Punkt Sentence Tokenizer
				</label>
				<label class="btn btn-primary">
				    <input type="radio" name="sent_tokenizer" value="line"> Lines (for semi-structured data)
				</label>
				<label class="btn btn-primary">
				   <input type="radio" name="sent_tokenizer" value="no_sentence"> Live Dangerously
				</label>
			</div>
		</div>
		<div class="col-sm-6">
			<h2>Word Tokenizer</h2>
			<div class="btn-group-vertical" data-toggle="buttons" id="tokenizer_type">
			  <label class="btn btn-primary">
			    <input type="radio" name="tokenizer" value="whitespace" id="whitespace"> Whitespace Tokenizer
			  </label>
			  <label class="btn btn-primary">
			    <input type="radio" name="tokenizer" value="wordpunkt" id="wordpunkt"> Punkt Word Tokenizer
			  </label>
			  <label class="btn btn-primary">
			    <input type="radio" name="tokenizer" value="regexp" id="regexp"> Regex Tokenizer
			  </label>
			  <label class="btn btn-primary">
			    <input type="radio" name="tokenizer" value="treebank" id="treebank"> Treebank Word Tokenizer
			  </label>
			</div>
				<h3>For Regex Tokenizer, input your own regex:</h3>
				<input class="text" name="token_regex"> 
		</div>	
	</div> <!--close the thumbnail around the tokenizers-->
	<div class="col-sm-3">
		<h2>Easy Decisions</h2>
		<h3>Bag of Words</h3>
		<p>Technically a bag of tokens, whatever that means to you.</p>
			<label>
			<input type="radio" name="make_bag" value="make_bag"> Bag 'o Words </input>
			</label>
			<label >
			<input type="radio" name="make_bag" value="lower_bag"> ...lowercased words. 
			</label>
			<h3>Chunking, NE recognition</h3>
			<p>(Always uses Maximum Entropy POS tagger in the background.)</p>
			<div class="btn-group-vertical" data-toggle="buttons">
			<label>
				   <input type="radio" name="chunk" value="ne_chunk"> Chunk + Recognize Entities				
			</label>
			<label>
				   <input type="radio" name="extract_relations" value="in_example" disabled> ... and get "IN" relationships	
			</label>
			</div>		
	</div>
	<div class="col-sm-3">
		<h2>Part of Speech Tagging</h2>
			<p>Get the results of a part of speech tagger, sentence by sentence.</p>
			<p>Unigram model trained on first 1000 sentences of Brown Corpus - very slow, and train your own for real use.</p>
			<div class="btn-group-vertical" data-toggle="buttons">
				<label class="btn btn-primary">
				    <input type="radio" name="pos_tag" value="max_pos"> Treebank Maximum Entropy
				</label>
				<label class="btn btn-primary">
				   <input type="radio" name="pos_tag" value="unigram"> Unigram
				</label>
			</div>

		</div>
	</div>	

    </form>
    <form action="{{ url_for('get_params') }}" method="POST" class="get_params">

</div>
</label>
  </div>
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script> 
$('.btn').button();
var button = $('#myToggleButton');
button.on('click', function () {
  $(this).toggleClass('active');
});
</script>
{% endblock %}
